/* Demo CSS */

/*
----------------------------------------
CSS Order of operations:
1. Stylesheet
2. Document Style
3. Element Style
----------------------------------------
*/

/* Inline vs Block Elements*/
header > nav{background-color: darkkhaki; padding: 1em; border-radius: 1rem;}
nav > a {background-color: green;
    display: inline-block;
    padding:0.5rem;
    border-radius: 0.5rem;
    color: beige;
    text-decoration: none;
    /*transition: all ease 500ms;*/
    transition-duration: 250ms;
    transition-property: color, background-color;
    transition-delay: 0ms;
    transition-timing-function: ease;
}

nav > a:hover {
    background-color: greenyellow;
    color: darkslategray;
}

h1 {display: inline-block; background-color: chocolate;}



/* Cascade Theory */




/* Selector Specificity */